body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.slides {
  position: relative;
  height: 300px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -999;
  transition: opacity 0.25s;
}

.active {
  opacity: 1;
  z-index: 0;
}

.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
}

.slide:nth-of-type(1) {
  background: red;
}

.slide:nth-of-type(2) {
  background: orange;
}

.slide:nth-of-type(3) {
  background: green;
}

.slide:nth-of-type(4) {
  background: blue;
}

.slide:nth-of-type(5) {
  background: purple;
}

.carousel {
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 20px;
  user-select: none;
}

.slides {
  flex-basis: 100%;
  flex-grow: 1;
}

.controls,
.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.indicator,
.control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active,
.control.active {
  background-color: orangered;
}
.indicator:hover,
.control:hover {
  background-color: tomato;
  color: black;
}
